.App {
  text-align: center;
  background-image: url(/ethermint-background.png);
  background-position-x: 50%;
  background-position-y: center;
  background-size: cover;
  background-color: rgb(27, 30, 54);
}

.App-logo {
  padding-top: 100px;
  padding-bottom: 50px;
  max-width: 300px;
  pointer-events: none;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.Address-input {
  width: 425px;
  height: 40px;
  padding-left: 6px;
  padding-right: 6px;
  font-size: calc(6px + 1vmin);
}

.Address-input:focus {
  outline: none;
}

.Submit-button {
  height: 46px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: calc(6px + 1vmin);
  background-color: #8ca9c6;
  color: #fff;
  border-width: 1px;
  border-style: inset;
}

.Request-more-button {
  height: 46px;
  font-size: calc(6px + 1vmin);
  background-color: #8ca9c6;
  color: #fff;
  border-width: 1px;
  border-style: inset;
}

.Success-message {
  color: #fff;
  font-size: 16px;
}

.Error-message {
  color: red;
  font-size: 16px;
}

.Progress-indicator {
  color: #fff !important;
}
